.promo {
    text-align: center;
    background: url(../images/promo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.promo-cover {
    background-color: rgba(28, 28, 28, 0.75);
    min-height: 626px;
}

.promo__title {
    text-shadow: 0 3px 20px rgba(153, 255, 212, 0.25);
    font-size: 4.5rem;
    color: #99ffd4;
    padding-top: 13rem;
}

.promo__caption {
    text-shadow: 0 3px 20px rgba(153, 255, 212, 0.25);
    color: #99ffd4;
    font-size: 2rem;
    font-weight: 400;
    padding-top: 2rem;
}

.about {
    min-height: 408px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.01em;
    text-align: center;
}

.about__title {
    font-family: Leftonade;
}

.about__description {
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.about__process {
    margin-bottom: 2rem;
}

.about__process ul {
    list-style-type: none;
}

.about__list:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #00693d;
    box-shadow: 0 3px 15px #99ffd4;
    margin-right: 10px;
}

.works {
    background: url(../images/works_desktop.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.works-cover {
    background-color: rgba(28, 28, 28, 0.75);
    min-height: 480px;
}

.works__title {
    text-shadow: 0 4px 12px rgba(153, 255, 212, 0.25);
    color: #ffffff;
}

.works__blocks {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.work__block {
    display: none;
    margin: 20px;
}

.tools {
    min-height: 284px;
}

.tools__blocks {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.tools__block {
    margin: 20px;
    flex-basis: 120px;
}

.tools__blocks figcaption {
    text-align: center;
    color: #9d9999;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.16px;
    line-height: 1.4rem;
}

.about__line {
    border: none;
    height: 1px;
    color: #00693d;
    background-color: #00693d;
    box-shadow: 0px 1px 4px rgba(153, 255, 212, 0.9);
    margin: 10px auto 10px;
    width: 437px;
}

#carouselExampleControls {
    padding: 90px 16px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 30px;
    width: 30px;
    background-size: 50%, 50%;
    border-radius: 50%;
    background-color: black;
}

@media screen and (max-width: 767px) {
    .promo__title {
        font-size: 3rem;
    }

    .promo-cover {
        height: 100vh;
        padding: 1rem;
    }

    .about {
        height: 100vh;
        padding: 1rem;
    }

    .works {
        background: url(../images/works.jpg) center;
    }

    .works-cover {
        height: 100vh;
        padding: 10% 0;
    }

    .about__line {
        width: 250px;
    }

    .tools {
        height: 100vh;
        padding: 5% 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .works {
        background: url(../images/works_desktop.jpg) center;
    }
}

@media screen and (min-width: 1024px) {
    .work__block {
        display: block;
    }

    #carouselExampleControls {
        display: none;
    }
}
