@font-face {
    font-family: 'Leftonade';
    url('webfont.ttf')  format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: Leftonade;
    font-weight: 100;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.bg-custom {
    background: linear-gradient(270deg, #2D3132 0%, #594F7A 100%);
}

.header__logo {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.32px;
    text-decoration: none;
}

.header__logo:hover {
    color: #ff003e !important;
}

.header__logo span {
    color: #ff003e;
    font-size: 2rem;
    letter-spacing: 1.98px;
}

.menu__list {
    display: inline;
    font-size: 1.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.menu__link {
    color: white !important;
}

.menu__link:hover {
    color: #ff003e !important;
}

.promo {
    text-align: center;
    background: url(../images/promo.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.promo-cover {
    background-color: rgba(28, 28, 28, 0.7);
    min-height: 626px;
}

.promo__title {
    text-shadow: 0 3px 20px rgba(153, 255, 212, 0.25);
    font-size: 4.5rem;
    color: white;
    color: #99ffd4;
    padding-top: 13rem;
}

.promo__caption {
    text-shadow: 0 3px 20px rgba(153, 255, 212, 0.25);
    color: #99ffd4;
    font-size: 2rem;
    font-weight: 400;
    padding-top: 2rem;
}

.about {
    min-height: 408px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.01em;
    text-align: center;
}

.about__title {
    font-family: Leftonade;
}

.about__description {
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.about__process {
    margin-bottom: 2rem;
}

.about__process ul {
    list-style-type: none;
}

.about__list:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #00693d;
    box-shadow: 0 3px 15px #99ffd4;
    margin-right: 10px;
}

.works {
    background: url(../images/works_desktop.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.works-cover {
    background-color: rgba(28, 28, 28, 0.7);
    min-height: 480px;
}

.works__title {
    text-shadow: 0 4px 12px rgba(153, 255, 212, 0.25);
    color: #ffffff;
}

.works__blocks {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.work__block {
    display: none;
    background-color: #e7e0ff;
    padding: 20px;
    margin: 20px;
}

.tools {
    min-height: 284px;
}

.tools__blocks {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.tools__block {
    margin: 20px;
    flex-basis: 120px;
}

.tools__blocks figcaption {
    text-align: center;
    color: #9d9999;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.16px;
    line-height: 1.4rem;
}

.footer {
    text-align: center;
    background: linear-gradient(270deg, #2E2D31 0%, #594F7A 100%);
    min-height: 400px;
    color: #99ffd4;
}

.footer a {
    color: #99ffd4;
}

.footer__contacts {
    font-family: Roboto;
    padding-bottom: 2.5rem;
}

.footer__link {
    line-height: 2.5rem;
    text-decoration: none;
}

.footer__link:hover {
    color: white;
}

.footer__phone {
    letter-spacing: 1.17px;
}

.footer__copyright {
    font-family: Roboto;
    font-size: 0.9rem;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer__social__link{
    padding: 10px;
}


.about__line {
    border: none;
    height: 1px;
    color: #00693d;
    background-color: #00693d;
    box-shadow: 0px 1px 4px rgba(153, 255, 212, 0.9);
    margin: 10px auto 10px;
    width: 437px;
}

.footer__line {
    border: none;
    height: 1px;
    color: #99ffd4;
    background-color: #99ffd4;
    box-shadow: 0px 1px 4px rgba(153, 255, 212, 0.9);
    margin: 10px auto 10px;
    width: 1140px;
}

#carouselExampleControls {
    padding: 90px 16px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 30px;
    width: 30px;
    background-size: 50%, 50%;
    border-radius: 50%;
    background-color: black;
}

@media screen and (max-width: 767px) {
    html {
        font-size: 14px;
    }

    body {
        font-family: Leftonade;
        font-weight: 100;
    }

    .promo__title {
        font-size: 3rem;
    }

    .promo-cover {
        height: 100vh;
        padding: 1rem;
    }

    .about {
        height: 100vh;
        padding: 1rem;
    }

    .works {
        background: url(../images/works.jpg) center;
    }

    .works-cover {
        height: 100vh;
        padding: 10% 0;
    }

    .about__line {
        width: 250px;
    }

    .tools {
        height: 100vh;
        padding: 5% 0;
    }

    .footer {
        height: 100vh;
        padding: 20% 0;
    }

    .footer__line {
        width: 250px;
    }

    .header {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .works {
        background: url(../images/works_desktop.jpg) center;
    }

    .footer__line {
        width: 750px;
    }

    .header__menu {
        display: none;
    }

    .header {
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .work__block {
        display: block;
    }

    #carouselExampleControls {
        display: none;
    }

    .header {
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
}
