@font-face {
    font-family: 'Leftonade';
    url('webfont.ttf')  format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Leftonade;
    font-weight: 100;
}

h2 {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.header {
    position: absolute;
    background-color: rgba(88, 87, 87, 0.71);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 79px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.header__logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.32px;
    text-decoration: none;
    padding-right: 100px;
}

.header__logo:hover {
    color: #ff003e;
}

.header__logo span {
    color: #ff003e;
    font-size: 36px;
    letter-spacing: 1.98px;
}

.header__menu {
    padding: 18px;
}

.header__menu ul {
    list-style-type: none;
}

.header__social {
    padding-left: 80px;
    padding: 18px;
}

.header__social {
    padding-left: 80px;
    padding: 18px;
}

.header__social__link{
    padding: 10px;
}

.menu__list {
    display: inline;
    font-size: 18px;
    padding-left: 60px;
    padding-right: 60px;
}

.menu__link {
    color: white;
    text-decoration: none;
}

.menu__link:hover {
    color: #ff003e;
}

.promo {
    background: url(../images/promo.png) no-repeat #1c1c1c;
    text-align: center;
}

.promo-cover {
    background-color: rgba(28, 28, 28, 0.7);
    min-height: 626px;
}

.promo__title {
    text-shadow: 0 3px 20px rgba(153, 255, 212, 0.25);
    font-size: 72px;
    color: white;
    color: #99ffd4;
    padding-top: 204px;
}

.promo__caption {
    text-shadow: 0 3px 20px rgba(153, 255, 212, 0.25);
    color: #99ffd4;
    font-size: 36px;
    font-weight: 400;
    padding-top: 34px;
}

.about {
    min-height: 408px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: center;
}

.about__title {
    font-family: Leftonade;
}

.about__description {
    font-size: 18px;
    padding-bottom: 30px;
}

.about__process {
    margin-bottom: 30px;
}

.about__process hr {
    border: none;
    height: 1px;
    color: #00693d;
    background-color: #00693d;
    box-shadow: 0px 1px 4px rgba(153, 255, 212, 0.9);
    margin: 10px auto 10px;
    width: 437px;
}

.about__process ul {
    list-style-type: none;
}

.about__list:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #00693d;
    box-shadow: 0 3px 15px #99ffd4;
    margin-right: 10px;
}

.works {
    background: url(../images/works.png) center no-repeat;
}

.works-cover {
    background-color: rgba(28, 28, 28, 0.7);
    min-height: 480px;
}

.works__title {
    text-shadow: 0 4px 12px rgba(153, 255, 212, 0.25);
    color: #ffffff;
}

.works__blocks {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.work__block {
    background-color: #e7e0ff;
    padding: 20px;
    margin: 20px;
}

.tools {
    min-height: 284px;
}

.tools__blocks {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.tools__block {
    margin: 20px;
}

.tools__blocks figcaption {
    text-align: center;
    color: #9d9999;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    line-height: 23.47px;
}

.footer {
    text-align: center;
    background: linear-gradient(270deg, #2E2D31 0%, #594F7A 100%);
    height: 361px;
    color: #99ffd4;
}

.footer a {
    color: #99ffd4;
}

.footer hr {
    border: none;
    height: 1px;
    color: #99ffd4;
    background-color: #99ffd4;
    box-shadow: 0px 1px 4px rgba(153, 255, 212, 0.9);
    margin: 10px auto 10px;
    width: 1140px;
}

.footer__contacts {
    font-family: Roboto;
    padding-bottom: 40px;
}

.footer__link {
    line-height: 40px;
    text-decoration: none;
}

.footer__link:hover {
    color: white;
}

.footer__phone {
    letter-spacing: 1.17px;
}

.footer__copyright {
    font-family: Roboto;
    font-size: 14px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer__social__link{
    padding: 10px;
}